body{
background:#0c0f1d;
font-family:Arial;
color:white;
margin:0;
}

.loginBox{
max-width:300px;
margin:150px auto;
background:#13172a;
padding:30px;
border-radius:10px;
text-align:center;
}

.container{
max-width:420px;
margin:auto;
padding:20px;
}

.card{
background:#13172a;
padding:20px;
border-radius:10px;
margin-top:15px;
text-align:center;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:6px;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:#f7931a;
border:none;
border-radius:6px;
color:white;
font-weight:bold;
}

.tx{
background:#13172a;
padding:10px;
border-radius:6px;
margin-top:8px;
}